.events-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e8e8e8;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 50px;
}
.card-content {
  color: black;
}

li:hover {
  background-color: black;
  border-radius: 50px;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
}

p {
  color: #666;
  font-size: 1.1em;
}

/* Loading and Error Message Styling */
p {
  margin: 20px 0;
  color: #cc0000;
}
